body{
    background:url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    margin: 0;
}
#countdown-container {
    display: inline-block; 
    width: 352px; 
    margin: 200px 0; 
    border-radius: 6px; 
    background: #0067bb; 
}

#countdown {
    font-family: "Fira Sans", sans-serif; 
    display: inline-block; 
    padding: 51px; 
    background: #0067bb;
    color: white; 
}

#countdown span {
    font-weight: bold; 
    font-size: 30px; 
}

