h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_card{
  margin: 3%;
}

.image img{
  width: 100%;

}

.main_card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 20%;
}

.title{
  padding-top: 3%;
}

.title,.description{
  text-align: center;
  padding-bottom: 4%;
}