

body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #1E1F33;
  color: rgb(255, 251, 251);
}
.bg-img {
  /* The image used */
  background:  url("https://preview.cruip.com/neon/images/illustration-section-02.svg");

  min-height: 680px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
div {
  display: block;
}
div {
  display: block;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}
*, ::after, ::before {
  box-sizing: border-box;
}
.g-4, .gy-4 {
  --bs-gutter-y: 1.5rem;
}
@media (min-width: 992px){
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}}
@media (min-width: 576px){
.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}} 
